
PS C:\Users\Yakov> netstat -ano | findstr 8080
  TCP    0.0.0.0:8080           0.0.0.0:0              LISTENING       9136
  TCP    [::]:8080              [::]:0                 LISTENING       9136
  TCP    [::1]:8080             [::1]:61580            TIME_WAIT       0
  TCP    [::1]:8080             [::1]:61591            TIME_WAIT       0
PS C:\Users\Yakov>  taskkill /F /PID 9136
Успешно: Процесс, с идентификатором 9136, успешно завершен.
PS C:\Users\Yakov>


<form action="/logout" method="post">
    <input type="hidden" name="csrf" value="{{csrf.token}}">
    <input type="submit" value="Sign Out"/>
    <input type="hidden" name="csrf" value="{{csrf.token}}">
</form>

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###

.vscode/
	<dependency>
			<groupId>org.springframework.boot</groupId>
			<artifactId>spring-boot-starter-mustache</artifactId>
	</dependency>

	background-image: url('https://img4.goodfon.ru/original/1920x1080/d/6c/veshalka-odezhda-futbolki.jpg');
            background-repeat:no-repeat;
            background-position: center;
            background-size: cover;